@import url("https://unpkg.com/@picocss/pico@1.*/css/pico.classless.min.css");

article {
    --block-spacing-vertical: calc(var(--spacing) * 2);
}

#formula-input {
    display: block;
}

#truth-table, #truth-table th, #truth-table td {
    border: 1px solid;
    border-collapse: collapse;
}

#truth-table {
    th {
        font-weight: bold;
    }
    th, td {
        text-align: center;
        padding: 10px;
    }
}

#result {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    > table {
        flex: 1;
    }

    > svg {
        display: block;
        flex: 1;
    }
}

.danger {
    font-size: larger;
    color: white;
    background-color: hsl(350, 100%, 40%);
}
