body {
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 25vw;
    padding-right: 25vw;
    width: 50vw;
}

#formula-input {
    display: block;
    margin-bottom: 25px;
}

#truth-table, #truth-table th, #truth-table td {
    border: 1px solid;
    border-collapse: collapse;
}

#truth-table th, #truth-table td {
    padding: 10px;
}

#result {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

svg {
    flex: 1;
    height: 50vh;
}
